#center {
    text-align: center;
}

#id {
    text-align: right;
}

#btn {
    width: 150px;
    position: static;
    margin-left: 60%;
    margin-bottom: 4px;
    top: 10px;

}

#link {
    color: #ffffff;
}

#table {
    margin-left: 40px;
}

.create {
    margin-left: 40px;
}

.update {
    margin-left: 40px;
}

#buttonPassword{
    background-color: #4CAF50;
    margin-top: 10px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
}