
.block1 {
    background-color: forestgreen;
    height: 100%;
    position: fixed;

}

.row {
    margin: 0;
}

a {
    display: block;
    color: #000;
    padding: 18px 16px;
    font-size: 18px;
    text-decoration: none;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;

}

.aboutUs {
    position: absolute;
    width: 100%;
    bottom: 1px;
    margin: 0;

}

.box {
    width: 320px;
    height: 180px;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-top: -10px;
    padding-bottom: 1px;
    font-family: Arial;
    font-size: 20px;
    margin-top: 20px;
    color: #990000;
    margin-left: 8%;
}

.glyphicon {
    margin-top: 10px;
}
