body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-left: 45%;
    padding-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    margin-top: 20px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 30%;
    padding: 20px;
}

#btn {
    background-color: #4CAF50;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    color: white;
    padding: 12px 19px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
    height: 44px;
    font-size: 15px;

}

#forgot {
    background-color: #4CAF50;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
    padding-top: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
    height: 44px;
    font-size: 15px;

}